* {
  box-sizing: border-box;
}

header, footer {
  height: 100px;
  background-color: aliceblue;
}

section {
  background-color: rgb(233, 232, 228);
  border: 1px solid rgb(206, 203, 203);
  float: left;
  height: 400px;
  width: 20%;
}

.col2{
  width: 40%;
}

footer {
  clear: both;
}